# <u>CitiBike Data Profiling & Exploring</u>


## 1. Data Cleaning Checks 
## 2. Exploring the Data

In [1]:
import pandas as pd 
import numpy as np 
import os 

path = r'/Users/aahamoustafa/Desktop/Data Projects/CitiBike'

In [3]:
trips = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'citibike-trips.csv'))
stations = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'citibike-stations.csv'))

## 1. Data Cleaning

### Trips Table

In [72]:
pd.set_option('display.max_rows', None)

trips.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,2319,2016-03-09 13:08:21,2016-03-09 13:47:01,520,W 52 St & 5 Ave,40.759923,-73.976485,363,West Thames St,40.708347,-74.017134,23062,Subscriber,1972,male
1,313,2015-07-09 15:42:30,2015-07-09 15:47:44,520,W 52 St & 5 Ave,40.759923,-73.976485,493,W 45 St & 6 Ave,40.756800,-73.982912,16909,Subscriber,1968,female
2,798,2017-04-20 18:43:59,2017-04-20 18:57:17,520,W 52 St & 5 Ave,40.759923,-73.976485,3258,W 27 St & 10 Ave,40.750182,-74.002184,15555,Subscriber,1991,male
3,3100,2017-04-23 15:23:46,2017-04-23 16:15:26,520,W 52 St & 5 Ave,40.759923,-73.976485,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,20648,Customer,0,unknown
4,906,2016-01-11 18:32:33,2016-01-11 18:47:39,520,W 52 St & 5 Ave,40.759923,-73.976485,3162,W 78 St & Broadway,40.783400,-73.980931,15614,Subscriber,1961,male

In [33]:
## mixed data type check
for col in trips.columns.tolist():
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (trips[weird]) > 0:
    print (col)

/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/37797961.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (trips[[col]].applymap(type) != trips[[col]].iloc[0].apply(type)).any(axis = 1)

In [62]:
## missing observations?

trips.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bikeid                     0
usertype                   0
birth_year                 0
gender                     0
dtype: int64

In [ ]:
## dropping customer plan column as it is empty
trips.drop('customer_plan', axis=1, inplace=True)

In [47]:
## duplicates?

trips[trips.duplicated()]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bikeid, usertype, birth_year, gender, customer_plan]
Index: []

### Stations Table

In [50]:
stations.head()

,station_id_int,name,short_name,latitude,longitude,region_id,rental_methods,capacity,eightd_has_key_dispenser,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,eightd_has_available_keys,last_reported
0,3664,North Moore St & Greenwich St,5470.12,40.720195,-74.010301,71,"KEY, CREDITCARD",29,False,2,1,0,29,True,True,True,False,2023-02-03 00:04:54.000000 UTC
1,4682,W 34 St & Hudson Blvd E,6535.04,40.755167,-74.000599,71,"KEY, CREDITCARD",57,False,2,1,52,2,True,True,True,False,2023-02-03 00:05:54.000000 UTC
2,3233,E 48 St & 5 Ave,6626.01,40.757246,-73.978059,71,"KEY, CREDITCARD",62,False,2,1,43,14,True,True,True,False,2023-02-03 00:01:27.000000 UTC
3,244,Willoughby Ave & Hall St,4611.03,40.691960,-73.965369,71,"KEY, CREDITCARD",51,False,12,1,32,6,True,True,True,False,2023-02-03 00:01:22.000000 UTC
4,525,W 34 St & 11 Ave,6578.01,40.755942,-74.002116,71,"KEY, CREDITCARD",80,False,35,1,22,19,True,True,True,False,2023-02-03 00:02:45.000000 UTC

In [52]:
## mixed data type check
for col in stations.columns.tolist():
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (stations[weird]) > 0:
    print (col)

/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_2244/978848638.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (stations[[col]].applymap(type) != stations[[col]].iloc[0].apply(type)).any(axis = 1)

In [54]:
## missing observations?

stations.isnull().sum()

station_id_int               0
name                         0
short_name                   0
latitude                     0
longitude                    0
region_id                    0
rental_methods               0
capacity                     0
eightd_has_key_dispenser     0
num_bikes_available          0
num_bikes_disabled           0
num_docks_available          0
num_docks_disabled           0
is_installed                 0
is_renting                   0
is_returning                 0
eightd_has_available_keys    0
last_reported                0
dtype: int64

In [56]:
## duplicates?

trips[trips.duplicated()]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bikeid, usertype, birth_year, gender, customer_plan]
Index: []

## 2. Data Exploration

In [75]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473556 entries, 0 to 473555
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             473556 non-null  int64
 1   starttime                473556 non-null  object
 2   stoptime                 473556 non-null  object
 3   start_station_id         473556 non-null  int64
 4   start_station_name       473556 non-null  object
 5   start_station_latitude   473556 non-null  float64
 6   start_station_longitude  473556 non-null  float64
 7   end_station_id           473556 non-null  int64
 8   end_station_name         473556 non-null  object
 9   end_station_latitude     473556 non-null  float64
 10  end_station_longitude    473556 non-null  float64
 11  bikeid                   473556 non-null  object
 12  usertype                 473556 non-null  object
 13  birth_year               473556 non-null  int64
 14  gender                   473556 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 54.2+ MB

In [79]:
pd.set_option('display.float_format', '{:.2f}'.format)

trips.describe()

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,birth_year
count,473556.00,473556.00,473556.00,473556.00,473556.00,473556.00,473556.00,473556.00
mean,944.23,879.36,40.74,-73.99,873.12,40.74,-73.99,1743.65
std,6760.52,1058.20,0.02,0.02,1052.97,0.06,0.11,638.48
min,60.00,72.00,40.65,-74.03,72.00,0.00,-74.03,0.00
25%,388.00,326.00,40.72,-74.00,326.00,40.72,-74.00,1964.00
50%,633.00,446.00,40.74,-73.99,445.00,40.74,-73.99,1978.00
75%,1069.00,521.00,40.75,-73.98,520.00,40.75,-73.98,1986.00
max,1969746.00,3649.00,40.81,-73.91,3654.00,40.81,0.00,2001.00

#### The average trip duration is around 15 minutes- with a median of 10 minutes. The average is higher than the median due to the extreme outliers of trips reaching 20 days! We need to find out if customers actually take the bikes for this extended time or they are errors.

In [84]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1802 entries, 0 to 1801
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   station_id_int             1802 non-null   int64
 1   name                       1802 non-null   object
 2   short_name                 1802 non-null   object
 3   latitude                   1802 non-null   float64
 4   longitude                  1802 non-null   float64
 5   region_id                  1802 non-null   int64
 6   rental_methods             1802 non-null   object
 7   capacity                   1802 non-null   int64
 8   eightd_has_key_dispenser   1802 non-null   bool
 9   num_bikes_available        1802 non-null   int64
 10  num_bikes_disabled         1802 non-null   int64
 11  num_docks_available        1802 non-null   int64
 12  num_docks_disabled         1802 non-null   int64
 13  is_installed               1802 non-null   bool
 14  is_renting                 1802 non-null   bool
 15  is_returning               1802 non-null   bool
 16  eightd_has_available_keys  1802 non-null   bool
 17  last_reported              1802 non-null   object
dtypes: bool(5), float64(2), int64(7), object(4)
memory usage: 191.9+ KB

In [86]:
stations.describe()

,station_id_int,latitude,longitude,region_id,capacity,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled
count,1802.00,1802.00,1802.00,1802.00,1802.00,1802.00,1802.00,1802.00,1802.00
mean,3591.22,40.72,-73.91,70.96,30.96,11.93,1.47,16.58,0.08
std,1394.41,0.96,1.74,1.67,17.05,13.88,1.72,13.53,1.06
min,72.00,0.00,-74.03,0.00,0.00,0.00,0.00,0.00,0.00
25%,3356.25,40.70,-73.98,71.00,21.00,2.00,0.00,7.00,0.00
50%,3981.50,40.74,-73.95,71.00,25.00,7.00,1.00,16.00,0.00
75%,4507.50,40.79,-73.92,71.00,37.00,18.00,2.00,21.00,0.00
max,5076.00,40.88,0.00,71.00,123.00,80.00,19.00,105.00,29.00

In [103]:
## exporting the data

trips.to_csv(os.path.join(path,'02 Data','Prepared Data', 'trips_cleaned.csv'))